body {

  margin: 0;

  font-family: Arial;

  color: green;

  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");

  background-size: cover;

  background-position: center;

  background-attachment: fixed;

}
.hero {

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 40px;

  text-align: left;

}

.hero img {

  width: 150px;

  border-radius: 10px;

}
nav {

  background: orange;

  padding: 15px;

  position: sticky;

  top: 0;

  text-align: center;

}

nav a {

  color: white;

  margin: 15px;

  text-decoration: none;

  font-weight: bold;

}

nav a:hover {

  color: gold;

}

section {

  padding: 80px 20px;

  min-height: 100vh;

}
.container-produk {

  display: flex;

  justify-content: center;

  gap: 15px;

  flex-wrap: wrap;

}

.produk {

  background: #222;

  padding: 20px;

  border-radius: 15px;

  width: 220px;

  text-align: center;

  transition: 0.3s;

}

.produk:hover {

  transform: scale(1.05);

}

.produk img {

  width: 100%;

  border-radius: 10px;

  margin-bottom: 10px;

}
.produk img {

  width: 100%;

  display: block;

}
.btn-pesan {

  background: #5e2b97;

  color: yellow !important;

  padding: 10px 20px;

  border-radius: 25px;

  text-decoration: none;

  font-weight: bold;

}

button {

  background: gold;

  border: none;

  padding: 8px 15px;

  border-radius: 8px;

  cursor: pointer;

}
.container {

  width: 100%;

  max-width: 1200px;

  margin: auto;

}